---
layout: default
title:Arts
---

<article style="display:flex">
        {% for i in site.data.arts %}<!--修改了模板代码-->

                <a href="/static/gallary/{{ i.image }}" class="thickbox">
                    <!--<div class="project-img bordered" style="background-image: url('/static/gallary/{{ i.image }}');"></div>-->
                    <img style="transform:scale(1.075)" src="/static/gallary/{{ i.image }}"/>
                   
                    {% if i.url %} <a href="{{ i.url }}"> {% endif %}
                    <h3 class="project-headlines">{{ i.name }}</h3>
                    {% if i.url %} </a> {% endif %}
                    
                </a>
        {% endfor %}
</article>