---
layout: default
---

<article style="display:flex">
    <div class="projects row">
        {% for i in site.data.arts %}<!--修改了模板代码-->
        <div class="project-item col-md-4 col-sm-6 col-xs-12">
            <div class="well project-outer">
                <div class="project-inner">
                    <a href="/static/gallary/{{ i.image }}" class="thickbox">
                    <div class="project-img bordered ani" style="overflow:hidden;" ><img src="/static/gallary/{{ i.image }}"/></div>
                    </a>
                </div>
            </div>
            </div>
        {% endfor %}
     </div>
</article>